/*
    작성자 : 정선희
    작성기간 : 2월 ~ 4월 12일
*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900|Noto+Sans:400,400i,700,700i|Noto+Serif+KR:200,300,400,500,600,700,900|Noto+Serif:400,400i,700,700i&display=swap&subset=korean');

/*
font-family: 'Noto Sans', 'Noto Sans KR', sans-serif;
font-family: 'Noto Serif', 'Noto Serif KR', serif;
*/
/* color
#d97234;
rgba(217, 114, 52, 9);
#063;
rgba(0, 102, 51, 9);
*/

*{
    font-size:14px;
    font-weight: 400;
    color:#888;
    box-sizing:border-box;
    font-family: 'Noto Sans', 'Noto Sans KR', sans-serif;
}
html {
    font-size: 100%;
    -ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    -ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
    margin:0px;
    min-width: 320px;
    direction: ltr;
    text-align: left;
}
ol,
dl,
ul,
li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
dd
{
    margin: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
span,
em,
strong,
a{
    display: inline-block;
}
h1, h2, h3, h4, h5, h6,p,
figure {
    margin: 0;
}
input,
button,
select,
textarea {
    color: inherit;
    font-family: inherit;
    direction: ltr;
}
img,
input,
button,
select,
textarea,
object {
    max-width: 100%;
}
img {
    -webkit-user-drag: none;
    height: auto;
}
fieldset {
    min-width: auto;
}
textarea {
    overflow: hidden;
    resize: vertical;
}
figure {
    font-size: 0;
}
figcaption {
    font-size: 1rem;
}
::-ms-clear {
    display: none;
}
button {
    background: transparent;
    border: 0;
    outline: none;
}
button::-moz-focus-inner,
input::-moz-focus-ineer {
    padding: 0;
    border: 0;
}

/* font-face */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url("../font/MaterialIcons-Regular.woff"); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url("../font/MaterialIcons-Regular.woff2") format('woff2'),
      url("../font/MaterialIcons-Regular.woff") format('woff'),
  }
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
