/* 배너 이미지 */
.top-banner-cp-institution {
    width: 100%;
    height: 350px;
    background: url("../img/sub-fair-trade/00-fair-trade-cp.jpg");
    background-repeat: no-repeat;
    background-position: 80% 80%;
    background-size: cover;
    background-attachment: fixed;
}
/* 컨테이너 */
.fair-trade {
    width: 100%;
}

/* 자율준수 프로그램이란? */
.fair-trade .cp-introduce {
    width: 100%;
    padding: 80px 50px;
    background-color: rgba(0, 102, 51, .65);
}
.fair-trade .cp-introduce .co-txt {
    width: 80%;
    margin: 0 auto;
}
.fair-trade .cp-introduce .co-txt h4 {
    color: #fff;
    font-size: 1.25em;
    margin-bottom: 1.5em;
}
.fair-trade .cp-introduce .co-txt p {
    color: #fff;
    font-size: 1.05em;
    font-weight: 300;
}

/* 관련법규 */
.cp-laws {
    width: 80%;
    margin: 0 auto;
}
.cp-laws h4 {
    color: #333;
    margin: 0 auto;
}
.cp-laws p {
    margin: 0 auto;
    font-size: 1em;
    line-height: 3em;
}
.cp-laws div {
    margin: 0 auto;
}
.cp-laws div::after {
    content: "";
    display: table;
    clear: both;
}
.cp-laws ul {
    width: 50%;
}
.cp-laws ul li {
    width: 100%;
    font-size: 1.15em;
    color: #333;
    margin: 40px 0;
}
.cp-laws ul li:nth-of-type(4) {
    margin-bottom: 0;
}
.cp-laws ul li::before {
    content: "";
    display: inline-block;
    width: .6em;
    height: .6em;
    margin-right: .5em;
    vertical-align: .05em;
    background-color: rgba(0, 102, 51, .65);
    background-image: linear-gradient(-110deg,  rgba(208, 230, 165, .95) 20%, rgba(255, 221, 148, .8));
}

.cp-laws ul:nth-of-type(1) {
    float: left;
}
.cp-laws ul:nth-of-type(2) {
    float: left;
}
.cp-laws ul:nth-of-type(1) li {}
.cp-laws ul:nth-of-type(2) li {}

/* 도입의 필요성 */
.necessity-of-cp {
    width: 80%;
    margin: 0 auto;
}
.necessity-of-cp h3 {
    margin-bottom: 1.85em;
}
.necessity-of-cp ul {
    display: flex;
    justify-content: space-between;
}
.necessity-of-cp ul li {
    width: 23%;
    padding: 50px 30px;
    text-align: center;
    background-image: linear-gradient(170deg, rgba(134, 227, 206, 1) 10%, rgba(208, 230, 165, 1) 65%, rgba(255, 221, 148, .8));
}
/* 상단 내용 */
.necessity-of-cp ul li > span:nth-of-type(1) {
    color: #333;
    font-size: 1.15em;
}

/* 쉐브론 */
.necessity-of-cp ul li > span:nth-of-type(2) {
    display: table;
    margin: 30px auto;
    position: relative;
}

.necessity-of-cp ul li > span:nth-of-type(2) span {
    display: inline-block;
    width: 1em;
    height: 2px;
    background-color: rgba(0, 102, 51, 1);
}
.necessity-of-cp ul li > span:nth-of-type(2) span:nth-of-type(1) {
    transform: rotateZ(40deg);
    transform-origin: right bottom;
}
.necessity-of-cp ul li > span:nth-of-type(2) span:nth-of-type(2) {
    transform: rotateZ(-40deg);
    transform-origin: left bottom;
}

/* 하단 내용 */
.necessity-of-cp ul li > span:nth-of-type(3) {
    font-size: 1.25em;
    font-weight: 700;
    color: #333;
}


/* 운영 핵심 7대 요소 */

.seven-core {
    width: 80%;
    margin: 0 auto;
}
.seven-core h3 {
    margin-bottom: 1.85em;
}
.seven-core div {}

.seven-core div::after {
    content: "";
    display: table;
    clear: both;
}
.seven-core div dl {
    width: 48%;
}
.seven-core div dl dt {
    font-size: 1.25em;
    font-weight: 600;
    color: #333;
    margin: 35px 0 5px;
}
.seven-core div dl dt::before {
    content: "";
    display: inline-block;
    width: .6em;
    height: .6em;
    margin-right: .5em;
    vertical-align: .05em;
    background-color: rgba(0, 102, 51, .65);
    background-image: linear-gradient(-110deg,  rgba(208, 230, 165, .95) 20%, rgba(255, 221, 148, .8));
    border-radius: 50%;
}
.seven-core div dl dd {
    line-height: 2em;
}
.seven-core div dl:nth-of-type(1) {
    float: right;
}
.seven-core div dl:nth-of-type(2) {
    float: left;
}


/* Benefits of Compliance Program */
.cp-benefit {
    width: 80%;
    margin: 0 auto;

}
.cp-benefit h3 {}
.cp-benefit > div {
    position: relative;
    width: 100%;
    height: 40vh;
}

/* 원 라인 */
.cp-benefit .benefit-circle-line{
    position: relative;
    width: 40vh;
    height: 40vh;
    margin: 0 auto;
}
.cp-benefit .benefit-circle-line::after {
    content: "";
    display: block;
    width: 40vh;
    height: 40vh;
    border: 5px solid rgba(217, 114, 52, .75);
    border-top-color: rgba(0, 102, 51, .85);
    border-bottom-color: rgba(0, 102, 51, 75);
    border-left: 5px solid transparent;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 20vh);
    left: calc(50% - 20vh);
    box-sizing: border-box;
    animation: circle-running-rounds 6s infinite both linear;
}
/* 텍스트 */
.cp-benefit .cp-benefit-container ul {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    position: relative;
}
.cp-benefit .cp-benefit-container ul li {
    width: 150px;
    line-height: 150px;
    text-align: center;;
    color: #333;
    position: relative;
    display: inline-block;
    margin-right: -20px;
}
.cp-benefit .cp-benefit-container ul li::before {
    content: "";
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: calc(50% - 75px);
    left: calc(50% - 75px);
    z-index: -1;
}
.cp-benefit .cp-benefit-container ul li:nth-of-type(5) {
    margin-right: 0;
}
.cp-benefit .cp-benefit-container ul li:nth-child(even)::before {
    background-color: rgba(208, 230, 165, 0.75);
}
.cp-benefit .cp-benefit-container ul li:nth-child(odd)::before {
    background-color: rgba(255, 221, 148, .6);
}
/*
.cp-benefit .cp-benefit-container ul li:nth-of-type(1) {
    left: 0;
}
.cp-benefit .cp-benefit-container ul li:nth-of-type(2) {
    left: 17%;
}
.cp-benefit .cp-benefit-container ul li:nth-of-type(3) {
    left: calc(50% - 75px);
}
.cp-benefit .cp-benefit-container ul li:nth-of-type(4) {
    right: 17%;
}
.cp-benefit .cp-benefit-container ul li:nth-of-type(5) {
    right: 0;
}
*/
/* 원 */
.cp-benefit .benefit-circle-tit {
    width: 35vh;
    height: 35vh;
    border-radius: 50%;
    background-image: linear-gradient(-10deg,  rgba(208, 230, 165, .95) , rgba(255, 221, 148, .8));
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.cp-benefit .benefit-circle-tit span {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #063;
    white-space: pre-line;
    font-size: 1.35em;
    font-weight: 600;
    letter-spacing: 1.5px;
}

/**/
.cp-benefit > span {
}

.cp-benefit > span:nth-of-type(1) {}
.cp-benefit > span:nth-of-type(2) {}
.cp-benefit > span:nth-of-type(3) {}
.cp-benefit > span:nth-of-type(4) {}
.cp-benefit > span:nth-of-type(5) {}


/* 과징금 경감 */

.cp-penalty-reduction {
    width: 80%;
    margin: 0 auto;
}
.cp-penalty-reduction h3 {}
.cp-penalty-reduction > span {
    display: inline-block;
    margin-bottom: 30px;
    font-size: 1.05em;
}
.cp-penalty-reduction p {
    font-size: 1.05em;
    color: #333;
}
.cp-penalty-reduction p span {
    font-size: 1.05em;
    font-weight: 700;
    color: #063;
}
.cp-penalty-reduction p span::before {
    content: "";
    display: inline-block;
    border: 5px solid #063;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    vertical-align: 0.065em;
    margin-left: 7px;
}
/* keyframes */
@keyframes circle-running-rounds {
    0%{
        transform: rotateZ(0deg);
        transform-origin: center;
    }
    100%{
        transform: rotateZ(360deg);
        transform-origin: center;
    }
}