/*
    작성자 : 정선희
*/
/* 배너 이미지 */
.top-banner-cp-institution {
    width: 100%;
    height: 350px;
    background: url("../img/sub-fair-trade/00-fair-trade-cp.jpg");
    background-repeat: no-repeat;
    background-position: 80% 80%;
    background-size: cover;
    background-attachment: fixed;
}
/* 컨테이너 */
.fair-trade {
    width: 100%;
}

/* 자율준수 프로그램이란? */
.fair-trade .cp-introduce {
    width: 100%;
}
.fair-trade .cp-introduce .co-txt {
    width: 60%;
    margin: 0 auto;
    border: 1px solid #063;
    padding: 110px 50px; 
}
.fair-trade .cp-introduce .co-txt h4 {
    color: #333;
    font-size: 1.45em;
    margin-bottom: 1.5em;
    font-weight: 600;
}
.fair-trade .cp-introduce .co-txt p {
    color: #333;
    font-size: 1.05em;
    font-weight: 300;
}

/* 공정거래 관련법규 */
.cp-laws {
    width: 80%;
    margin: 0 auto;
}
.cp-laws h4 {
    color: #333;
    margin: 0 auto;
}
.cp-laws p {
    font-size: 1em;
    text-align: right;
    color: #063;
}
.cp-laws ul {
    width: 100%;
    background-color: #f2f1ef;
    padding: 60px 30px 20px 80px;
    position: relative;
    top: -40px;
    z-index: -1;
 }
.cp-laws ul::after {
    content: "";
    display: table;
    clear: both;
}
.cp-laws figure {
    width: 94%;
    margin: 0 auto;
}
.cp-laws figure img {}
.cp-laws ul li {
    width: 50%;
    font-size: 1.15em;
    color: #333;
    line-height: 35px;
}
.cp-laws ul li::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #67809f;
    vertical-align: .25em;
    margin-right: 5px;
    border-radius: 50%;
}
.cp-laws ul li:nth-of-type(odd) {
    float: right;
}
/* 도입의 필요성 */
.necessity-of-cp {
    width: 80%;
    margin: 0 auto;
}
.necessity-of-cp ul {
    display: flex;
    justify-content: space-between;
}
.necessity-of-cp ul li {
    width: 23%;
    min-width: 150px;
    margin-right: 20px;
    padding: 50px 30px;
    text-align: center;
    background-image: linear-gradient(40deg, rgba(208, 230, 165, .85) , rgba(255, 221, 148, .8));
    border-radius: 15px 0 15px 0;
}
.necessity-of-cp ul li > span:nth-of-type(1) {
    width: 90%;
}
.necessity-of-cp ul li > span:nth-of-type(3) {
    width: 90%;
}
.necessity-of-cp ul li:last-child {
    margin-right: 0;
}
/* 상단 내용 */
.necessity-of-cp ul li > span:nth-of-type(1) {
    color: #333;
    font-size: 1.15em;
}
/* cp-chevron */
.necessity-of-cp ul li .cp-chevron {
    display: table;
    margin: 0 auto;
    padding: 30px;
    position: relative;
    animation: cheveron-ani .4s .3s cubic-bezier(0.26, 0.66, 0.65, 0.95) infinite both alternate;
}
.necessity-of-cp ul li .cp-chevron span {
    display: inline-block;
    width: 1em;
    height: 2px;
    background-color: #063;
}
.necessity-of-cp ul li .cp-chevron span:nth-of-type(1) {
    -ms-transform: rotateZ(40deg);
    -ms-transform-origin: right bottom;
    transform: rotateZ(40deg);
    transform-origin: right bottom;
}
.necessity-of-cp ul li .cp-chevron span:nth-of-type(2) {
    -ms-transform: rotateZ(-40deg);
    -ms-transform-origin: left bottom;
    transform: rotateZ(-40deg);
    transform-origin: left bottom;
}
/* 하단 내용 */
.necessity-of-cp ul li > span:nth-of-type(3) {
    font-size: 1.25em;
    font-weight: 700;
    color: #333;
}
/* 운영 핵심 7대 요소 */
.seven-elemt {
    width: 80%;
    margin: 0 auto;
}
.seven-elemt div {}

.seven-elemt div::after {
    content: "";
    display: table;
    clear: both;
}
.seven-elemt div dl {
    width: 48%;
}
.seven-elemt div dl dt {
    width: 100%;
    font-size: 1.25em;
    font-weight: 600;
    color: rgba(0, 102, 51, .95);
    margin: 35px 0 5px;
}
.seven-elemt div dl dt::before {
    content: "";
    display: inline-block;
    width: .6em;
    height: .6em;
    margin-right: .5em;
    vertical-align: .05em;
    background-color: rgba(0, 102, 51, .65);
    background-image: linear-gradient(-110deg,  rgba(208, 230, 165, .95) 20%, rgba(255, 221, 148, .8));
    border-radius: 50%;
}
.seven-elemt div dl dd {
    width: 90%;
    margin: 0 auto;
    line-height: 2em;
    color: #333;
    font-size: .95em;
}
.seven-elemt div dl:nth-of-type(1) {
    float: right;
}
.seven-elemt div dl:nth-of-type(2) {
    float: left;
}
/* Benefits of Compliance Program */
.cp-benefit {
    width: 80%;
    margin: 0 auto;
    position: relative;
}
.cp-benefit .cp-benefit-container {
    position: relative;
    width: 100%;
    text-align: center;
}
.cp-benefit .cp-benefit-container .benefit-circle-tit {
    width: 35vh;
    height: 35vh;
    border-radius: 50%;
    background-image: linear-gradient(-10deg,  rgba(208, 230, 165, .95) , rgba(255, 221, 148, .8));
    display: inline-block;
    position: relative;
    margin-bottom: 40px;
}
.cp-benefit .cp-benefit-container .benefit-circle-tit::after {
    content: "";
    display: block;
    width: 40vh;
    height: 40vh;
    border: 5px solid rgba(217, 114, 52, .95);
    border-top-color: rgba(0, 102, 51, .85);
    border-bottom-color: rgba(0, 102, 51, 75);
    border-left: 5px solid transparent;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 20vh);
    left: calc(50% - 20vh);
    box-sizing: border-box;
    animation: circle-running-rounds 6s infinite both linear;
}
.cp-benefit .cp-benefit-container .benefit-circle-tit span {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    color: #063;
    white-space: pre-line;
    font-size: 1.35em;
    font-weight: 600;
    letter-spacing: 1.5px;
}
/* 텍스트 */
.cp-benefit .cp-benefit-container ul {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.cp-benefit .cp-benefit-container ul li {
    width: 150px;
    line-height: 150px;
    text-align: center;;
    color: #333;
    position: relative;
    display: inline-block;
    margin-right: -20px;
}
.cp-benefit .cp-benefit-container ul li::before {
    content: "";
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: calc(50% - 75px);
    left: calc(50% - 75px);
    z-index: -1;
}
.cp-benefit .cp-benefit-container ul li:last-child {
    margin-right: 0;
}
.cp-benefit .cp-benefit-container ul li:nth-child(even)::before {
    background-color: rgba(208, 230, 165, .6);
}
.cp-benefit .cp-benefit-container ul li:nth-child(odd)::before {
    background-color: rgba(255, 221, 148, .6);
}
.cp-benefit::after {
    content: "";
    display: table;
    width: 100%;
    height: 1px;
    background-color: #fff;
}

/* 과징금 경감 */
.cp-penalty-reduction {
    width: 80%;
    margin: 0 auto;
}
.cp-penalty-reduction > span {
    display: inline-block;
    margin-bottom: 30px;
    font-size: .85em;
}
.cp-penalty-reduction p {
    font-size: 1.05em;
    color: #333;
}
.cp-penalty-reduction p span {
    font-size: 1.05em;
    font-weight: 700;
    color: #063;
}
.cp-penalty-reduction p span::before {
    content: "";
    display: inline-block;
    border: 5px solid #063;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    vertical-align: 0.065em;
    margin-left: 7px;
}

/* keyframes */
@keyframes circle-running-rounds {
    0%{
        -ms-transform: rotateZ(0deg);
        -ms-transform-origin: center;
        transform: rotateZ(0deg);
        transform-origin: center;
    }
    100%{
        -ms-transform: rotateZ(360deg);
        -ms-transform-origin: center;
        transform: rotateZ(360deg);
        transform-origin: center;
    }
}
@keyframes cheveron-ani {
    0%{
        transform: translateY(-4%);
    }
    100%{
        transform: translateY(3%);
    }
}