/*
    작성자 : 정선희
*/
@import url("common.css");

/*---------- header ----------*/
header {
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0; left: 0;
    background: rgba(255, 255, 255, 0.9);
    z-index: 3;
}
header .menu {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: top;
    position: relative;
}
header .menu .logo {
    display: block;
    width: 80px;
    height: 70px;
    line-height: 70px;
    background: url("../img/logo.png") no-repeat center;
    background-size: contain;
}
header .menu nav > ul > li > a {
    width: 100%;
    line-height: 70px;
    padding: 0 40px;
    font-size: 1.12em;
    color: #333;
    position: relative;
}
header .menu nav > ul > li > a::before {
    content: "";
    width: 100%;
    height: 3px;
    background: #063;
    background-image: linear-gradient(125deg, rgba(134, 227, 206, 1), rgba(208, 230, 165, 1), rgba(255, 221, 148, .8) );
    transition: transform .3s linear;
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    position: absolute;
    bottom: 10%;
    left: 0;
}
header .menu nav > ul > li > a:hover::before {
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}
header .menu nav .login {
    display: none;
    text-align: right;
}
header .menu nav .login a {
    font-size: .85em;
    color: #444;
}
/* sub menu */
header .menu nav .sub-menu {
    width: 100%;
    height: 0;
    overflow: hidden;
}
header .menu nav .sub-menu li {
    width: 100%;
    line-height: 40px;
    text-align: center;
}
header .menu nav .sub-menu li:hover a {
    width: 100%;
    color: #063;
    font-weight: 600;
    animation: nav-font-animations .5s .3s infinite both alternate;
}
header .menu nav .sub-menu li a {
    width: 100%;
    font-size: 1em;
}
header .menu nav ul li:nth-of-type(1) ul li:nth-of-type(5) {
    margin-bottom: 20px;
}
/* burger menu */
header .menu button {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
}
header .menu button span {
    display: block;
    width: 26px;
    height: 1px;
    background: #333;
    position: absolute;
    top: 50%;
    left: calc(50% - 13px);
}
header .menu button span:nth-of-type(1) {
    top: calc(50% - 5px);
}
header .menu button span:nth-of-type(2) {
    top: calc(50% + 5px);
}
/*
header .menu button span:nth-of-type(1) {
    transform-origin: 50%;
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
header .menu button span:nth-of-type(2) {
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
*/
/* burger menu javascript */
header .menu nav.menuVisible {
    min-height: 0;
    height: 100vh;
    transition: height .5s cubic-bezier(0.14, 0.12, 0.38, 1.22);
    overflow: auto;
}
header .menu nav > ul {
    text-align: center;
}
header .menu nav > ul::after {
    content: "";
    display: table;
    clear: both;
}
header .menu nav > ul > li {
    float: left;
    vertical-align: top;
}
/* sub menu javascript */
header .menu nav ul li a.subMenuVisivble + ul {
    height: auto;
    overflow: visible;
}
header .menu nav ul li ul.active {
    color: #063;
}
/*---------- footer ----------*/
footer {
    width: 100%;
    height: 100%;
    background: linear-gradient(115deg, rgba(255, 221, 148, 1), rgba(208, 230, 165, 1) 55%);;
    text-align: center;
    padding: 20px 0 15px;
}
/* footer SNS logo */
footer .sns {
    margin: 0 auto;
}
footer .sns a {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #063;
    margin-right: 25px;
}
footer .sns a:nth-of-type(1) {
    background: url("../img/logo/instagram.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
footer .sns a:nth-of-type(2) {
    background: url("../img/logo/facebook-f.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
footer .sns a:nth-of-type(3) {
    background: url("../img/logo/youtube.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 0;
}
/* links */
footer ul {
    margin: 10px auto;
    font-size: 0;
}
footer ul li {
    display: inline-block;
    vertical-align: middle;
    font-size: 1rem;
}
footer ul li::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 1rem;
    background: #333;
    vertical-align: middle;
    margin: 0 15px;
}
footer ul li:last-of-type::after {
    display: none;
}
footer ul li:last-of-type {
    margin-right: 0;
}
footer ul li a {
    color: #333;
    font-size: .8em;
}
/* info */
footer .company-info {
    margin: 0 auto;
}
footer .company-info dl {}
footer .company-info dl::after {
    content: "";
    display: table;
    clear: both;
}
footer .company-info dl dt {
    color: #333;
    font-size: .9em;
    display: inline-block;
}
footer .company-info dl dd {
    color: #333;
    font-size: .85em;
    display: inline-block;
    margin-right: 20px;
    margin-left: 5px;
    font-weight: 300;
}
footer .company-info dl dd a {
    font-size: inherit;
    font-weight: inherit;
}
footer .company-info dl dd:last-child {
    margin-right: 0;
}
footer p {
    margin: 0 auto;
    color: #333;
    font-size: .8em;
    margin-top: 10px;
}

