@import url("common.css");
body {
    width: 100%;
}
/*header*/

header {
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0; left: 0;
    background: rgba(255, 255, 255, 0.9);
    z-index: 3;
}
header .menu {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: top;
    position: relative;
}
header .menu .logo {
    display: block;
    width: 80px;
    height: 70px;
    line-height: 70px;
    background: url("../img/logo.png") no-repeat center;
    background-size: contain;
}

/* main menu */
header .menu nav {}
/* 버거메뉴 클릭이벤트 */
header .menu nav.menuVisible {
    min-height: 0;
    height: 100vh;
    transition: height .5s cubic-bezier(0.14, 0.12, 0.38, 1.22);
}
header .menu nav > ul {
    text-align: center;
}
header .menu nav > ul::after {
    content: "";
    display: table;
    clear: both;
}
header .menu nav > ul > li {
    float: left;
    vertical-align: top;
}
/* sub-menu hover */
header .menu nav > ul:hover > li .sub-menu {
    height: auto;
    overflow: visible;
}
header .menu nav > ul > li > a {
    width: 100%;
    line-height: 70px;
    padding: 0 40px;
    font-size: 1.12em;
    color: #333;
    position: relative;
}
header .menu nav > ul > li > a::before {
    content: "";
    width: 100%;
    height: 1px;
    background: #063;
    transition: transform .4s linear;
    transform: scaleX(0);
    position: absolute;
    top: 0;
    left: 0;
}
header .menu nav > ul > li > a:hover::before {
    transform: scaleX(1);
}
header .menu nav .login {
    display: none;
    text-align: right;
}
header .menu nav .login a {
    font-size: .85em;
    color: #444;
}

/* sub menu */
header .menu nav .sub-menu {
    width: 100%;
    height: 0;
    overflow: hidden;
}
header .menu nav .sub-menu li {
    width: 100%;
    line-height: 40px;
    text-align: center;
}
header .menu nav .sub-menu li:hover a {
    width: 100%;
    color: #063;
    animation: nav-font-animations 2s .5s infinite both alternate;
}
header .menu nav .sub-menu li a {
    width: 100%;
    font-size: 1em;
}
header .menu nav ul li:nth-of-type(1) ul li:nth-of-type(5) {
    margin-bottom: 20px;
}

/* burger menu */
header .menu button {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
}
header .menu button span {
    display: block;
    width: 26px;
    height: 1px;
    background: #333;
    position: absolute;
    top: 50%;
    left: calc(50% - 13px);
}
header .menu button span:nth-of-type(1) {
    top: calc(50% - 5px);
}
header .menu button span:nth-of-type(2) {
    top: calc(50% + 5px);
}

/* main-visual */
.main-visual {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
}
.main-visual video {
    width: 100%;
}
.main-visual a {}
@keyframes nav-font-animations {
    0%{
        color: rgba(217, 114, 52, 1);
    }
    100%{
        color: rgba(0, 102, 51, .9);
    }
}

/* container */

.container {
    width: 100%;
    margin: 0 auto;
}

/* 메인 공통 적용 */

.container h2 {
    text-align: center;
    font-size: 1.75em;
    margin: 100px 0 60px;
    font-weight: 400;
    color: #333;
    font-family: 'Noto Serif', 'Noto Serif KR', serif;
}

/*---------- 메인 제품 ----------*/
.container .prod {
    width: 100%;
    margin: 100px auto;
}
.container .prod figure {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
    padding: 50px 0;
    opacity: 1;
    transition: opacity .7s ;
}
.container .prod figure.active {
    opacity: 0;
}
.container .prod .prod_vgm_bk,
.container .prod .prod-oth {}

.container .prod figure a {
    display: inline-block;
}
.container .prod figure a img {
    height: 250px;
    transition: transform .5s cubic-bezier(0.075, 0.82, 0.165, 1) both;
}
.container .prod figure a:hover img {
    transform: scale3d(1.15, 1.15, 1);
}
.container .prod figure a:hover {
    animation: prod-ani .4s cubic-bezier(0.77, 0.31, 0.49, 0.95) infinite alternate both;
}
@keyframes prod-ani {
    0% {transform: rotate(15deg);}
    50% {transform: rotate(-15deg);}
    100% {transform: rotate(0deg);}
}
.container .prod .control {
    width: 100%;
    margin: 50px auto;
    position: relative;
}
/* 모바일용 인디케이터 */
.container .prod .control .indicator {
    width: 50%;
    position: relative;
    top: 0; left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.container .prod .control .indicator span {
    position: absolute;
}
.container .prod .control .indicator span:nth-of-type(1) {
    width: 100%;
    height: 2px;
    background: #07784d;
}
.container .prod .control .indicator span:nth-of-type(2) {
    width: 30px;
    height: 15px;
    background-image: radial-gradient(rgba(217, 114, 52, 0.9) 20%, rgba(255, 153, 102, 0.8), transparent);
    border-radius: 30% 30%;
    top: -7px; left: calc(50% - 15px - 0.1px);
    transition: .5s;
}
.container .prod .control:hover .indicator span:nth-of-type(2) {
    transform: translateX(100px);
}
.container .prod .prod-title {
    text-align: center;
}
.container .prod .prod-title button {
    margin: 20px 10px 0 0;
    transition: .5s;
}
.container .prod .prod-title button:last-child {
    margin-right: 0;
}
.container .prod .prod-title button:hover {
    font-weight: 700;
    text-decoration: underline;
    color: #063;
}

.background {
    width: 100%;
    height: 300px;
    margin: 100px auto 0;
    background: url("../img/prod_background.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

/*---------- 이벤트 ----------*/
.container .event {
    position: relative;
    width: 100%;
}
.container .event .event-content {
    width: 100%;
    margin: 0 auto;
    display: flex;
}
 /*행성 event
.container .event .event-content .event-title::after {
    content: "";
    display: inline-block;
    min-width: 100px;
    min-height: 100px;
    width: 100px;
    height: 100px;
    border-radius: 50% 50%;
    background-image: url("../img/circle_o.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 60%;
    right: -10%;
    z-index: -1;
}
.container .event .event-content .event-title::before {
    content: "";
    display: inline-block;
    min-width: 550px;
    min-height: 150px;
    border: 10px solid #d97234;
    border-top: 10px rgba(217, 114, 52, .0) solid;
    border-radius: 50% 50%;
    opacity: .8;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
}
.container .event .event-content .event-title {
    min-width: 450px;
    min-height: 450px;
    width: 450px;
    height: 450px;
    border-radius: 50% 50%;
    background-image: url("../img/circle_g.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);
}*/
.container .event .event-content .main-event-lft-bg {
    width: 61.764%;
    height: 200px;
    background-color: rgba(134, 227, 206, 1);
}
.container .event .event-content .main-event-lft-bg::after {
    content: "";
    display: table;
    clear: both;
}
.container .event .event-content .main-event-lft-bg .main-event-sub-bg {
    width: 89%;
    height: 100%;
    float: right;
    background-color: rgba(0, 102, 51, .9);
    border-bottom-left-radius: 55% 65%;
    text-align: right;
    position: relative;
    overflow: hidden;
}
.container .event .event-content  .main-event-lft-bg .main-event-sub-bg span {
    color: #fff;
    font-size: 1.05em;
    letter-spacing: 5px;
    padding-right: 10px;
}
.container .event .event-content  .main-event-lft-bg .main-event-sub-bg h3 {
    color: #fff;
    font-size: 2.65em;
    font-weight: 300;
    letter-spacing: 10px;
    animation: main-event-font-animations 2s 1s infinite both alternate;
}
.container .event .event-content  .main-event-lft-bg .main-event-sub-bg p {}
.container .event .event-content  .main-event-lft-bg .main-event-sub-bg p,
.container .event .event-content  .main-event-lft-bg .main-event-sub-bg p time {
    color: #fff;
    font-size: .94em;
    font-weight: 100;
    letter-spacing: 5px;
}
.container .event .event-content  .main-event-lft-bg .main-event-sub-bg p time {
    padding-right: 10px;
}
.container .event .event-content  .main-event-lft-bg .main-event-sub-bg a {
    color: #fff;
    font-size: 1.05em;
    letter-spacing: 5px;
    padding-right: 10px;
    transition: all .2s;
}
.container .event .event-content  .main-event-lft-bg .main-event-sub-bg a::after {
    content: "";
    display: block;
    width: 300%;
    height: 1px;
    background-color: rgba(255, 255, 255, .8);
    transform: translateX(0);
    transition: transform .5s linear;
}
.container .event .event-content  .main-event-lft-bg .main-event-sub-bg a:hover::after {
    transform: translateX(-50%);
    background-color: rgba(134, 227, 206, 1);
}
.container .event .event-content .main-event-rgt-bg {
    width: 38.235%;
    height: 200px;
    background-color: rgba(217, 114, 52, 1);
    position: relative;
}
.container .event .event-content .main-event-rgt-bg figure {}
.container .event .event-content .main-event-rgt-bg figure img {
    
    
}

@keyframes event-ani {
    0% {transform: translateY(5%);}
    50% {transform: translateY(10%);}
    100% {transform: translateY(5%);}
}
@keyframes main-event-font-animations {
    0%{
        color: rgba(217, 114, 52, .95);
    }
    100%{
        color: rgba(255, 255, 255, .85);
    }
}
/*----------정식품 웹진----------*/
.container .webzine {
    width: 80%;
    margin: 0 auto;
}
/* 웹진 전체 */
.container .webzine article {}
.container .webzine article figure {
    width: 100%;
    overflow: hidden;
}
.container .webzine article figure img {
    width: 100%;
    transform: scaleX(1) scaleY(1);
    transition: all .3s ease-in-out;
}
.container .webzine article figure img:hover {
    transform: scaleX(1.125) scaleY(1.125);
}
.container .webzine article div {
    box-shadow: 0 1px 10px 2px rgba(51, 51, 51, .2);
}
.container .webzine article div {
    position: relative;
}
.container .webzine article div::before {
    content: "";
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #d97234;
    border-radius: 50%;
    transition: 1s linear;
}
.container .webzine article div:hover::before {
    opacity: 0;
}
.container .webzine article div span {
    color: #063;
    font-size: .95em;
    font-weight: 100;
    letter-spacing: 1px;
}
.container .webzine article div h4 {
    color: #333;
    padding: 10px 0 25px;
}
.container .webzine article div h4 a {
    color: inherit;
    font-size: 1.5em;
    font-weight: 400;
    transition: .9s;
    animation: font-animations 2s .5s infinite both alternate;
}
.container .webzine article div h4 a:hover {
    animation: font-animations 2s .5s infinite both alternate;
}
.container .webzine article div > a{
    color: #063;
    font-size: 1.05em;
    padding: 5px 20px;
    border: 1px solid #063;
    transition: all .3s cubic-bezier(0.03, 0.24, 0, 0.78);
}
.container .webzine article div > a:hover {
    color: #063;
    letter-spacing: 2px;
    border: 1px solid #063;
}

/* 웹진 메인 공통 */
.container .webzine .webzine_main {
    width: 100%;
    background-image: linear-gradient(125deg, rgba(134, 227, 206, 1) 10%, rgba(208, 230, 165, 1) 65%, rgba(255, 221, 148, .8));
    opacity: .98;
    position: relative;
    overflow: hidden;
    margin-bottom: 5px;
}
.container .webzine .webzine_main figure {
    width: 100%;
}

@keyframes font-animations {
    0%{
        color: rgba(0, 102, 51, 1);
    }
    100%{
        color: rgba(217, 114, 52, .95);
    }
}
.container .webzine .webzine_main figure:hover {}
.container .webzine .webzine_main figure img {}
.container .webzine .webzine_main figure img:hover {}
.container .webzine .webzine_main .wz_txt_main {
    width: 45%;
    padding: 0 20px 0 50px;
    position: absolute;
    top: 0;
    right: 0;
    background-image: linear-gradient(-50deg,  rgba(208, 230, 165, .95) 55%, rgba(255, 221, 148, .8));
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    transform: translateX(30%);
    transition: transform .6s cubic-bezier(0.03, 0.24, 0, 0.78);
    /*animation: webzine_main_ani .6s 1s infinite linear alternate;*/
}
.container .webzine .webzine_main .wz_txt_main::before {
    top: 50%;
    left: 0;
    transform: translateX(-100%) translateY(-50%);
    animation: arrow-ani-main .35s .2s linear infinite alternate both;
}
.container .webzine .webzine_main:nth-of-type(2) .wz_txt_main {
    transform: translateX(60%);
}
.container .webzine .webzine_main:hover .wz_txt_main {
    transform: translateX(0);
    transition: transform .4s cubic-bezier(0.03, 0.24, 0, 0.78);
}
.container .webzine .webzine_main .wz_txt_main span {}
.container .webzine .webzine_main .wz_txt_main h4 {}
.container .webzine .webzine_main .wz_txt_main h4 a {}
.container .webzine .webzine_main .wz_txt_main > a{}
@keyframes webzine_main_ani {
    0% {
        transform: translateX(25%);
    }
    100% {
        transform: translateX(30%);
    }
}
@keyframes arrow-ani-main {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(-150%);
    }
}
/* 웹진 일반 컨텐츠 */
.container .webzine .webzine_content {
    width: calc(50% - 2.5px);
    position: relative;
    overflow: hidden;
}
.container .webzine::after {
    content: "";
    display: table;
    clear: both;
}
.container .webzine .wz_contents03 {
    float: left;
}
.container .webzine .wz-contents04 {
    float: right;
}
.container .webzine .webzine_content figure {}
.container .webzine .webzine_content figure img {}
.container .webzine .webzine_content .wz_txt {
    width: 100%;
    padding: 20px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(85%);
    background-image: linear-gradient(125deg, rgba(255, 221, 148, 1), rgba(208, 230, 165, 1) 55%);
    transition: transform .5s;
}
.container .webzine .webzine_content .wz_txt::before{
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    animation: arrow-ani .35s .2s linear infinite alternate both;
}
.container .webzine .webzine_content:hover .wz_txt{
    bottom: 0;
    transform: translateX(-50%);
}
.container .webzine .webzine_content .wz_txt h4 a {}
.container .webzine .webzine_content .wz_txt > a{}

@keyframes arrow-ani {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(-180%);
    }
}

/*---------- SNS ----------*/
.container .main_sns {
    width: 80%;
    margin: 0 auto;
}
.container .main_sns .gridrwrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    align-content: center;
    justify-content: center;
}
.container .main_sns .gridrwrapper article {
    width: 100%;
    position: relative;
}
.container .main_sns .gridrwrapper article > a {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 20px;
    height: 20px;
    background-image: url("../img/logo/instagram.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.container .main_sns .gridrwrapper article:nth-of-type(1) > a {
    background-image: url("../img/logo/facebook-f.svg");
}
.container .main_sns .gridrwrapper article figure {}
.container .main_sns .gridrwrapper article figure a {
    font-size: 0;
}
.container .main_sns .gridrwrapper article a video {
    width: 100%;
}

/* footer */
footer {
    width: 100%;
    height: 100%;
    background: linear-gradient(115deg, rgba(255, 221, 148, 1), rgba(208, 230, 165, 1) 55%);;
    text-align: center;
    padding: 20px 0;
}


/* SNS */
footer .sns {
    margin: 20px auto;
}
footer .sns a {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #063;
    margin-right: 30px;
}
footer .sns a:nth-of-type(1) {
    background: url("../img/logo/instagram.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
footer .sns a:nth-of-type(2) {
    background: url("../img/logo/facebook-f.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
footer .sns a:nth-of-type(3) {
    background: url("../img/logo/youtube.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 0;
}

/* family-site */
footer .family-site {}
footer .family-site div {}


/* 하단정보 */
footer ul {
    margin: 20px auto;
    font-size: 0;
}
footer ul li {
    display: inline-block;
    vertical-align: middle;
    font-size: 1rem;
}
footer ul li::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 1rem;
    background: #333;
    vertical-align: middle;
    margin: 0 15px;
}
footer ul li:last-of-type::after {
    display: none;
}
footer ul li:last-of-type {
    margin-right: 0;
}
footer ul li a {
    color: #333;
    font-size: .8em;
}

/* 회사정보 */
footer .company-info {
    margin: 20px auto;
}
footer .company-info dl {}
footer .company-info dl::after {
    content: "";
    display: table;
    clear: both;
}
footer .company-info dl dt {
    color: #333;
    font-size: .9em;
    display: inline-block;
}

footer .company-info dl:nth-of-type(1) dt:nth-of-type(1) {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

footer .company-info dl dd {
    color: #333;
    font-size: .85em;
    display: inline-block;
    margin-right: 20px;
    margin-left: 5px;
    font-weight: 200;
}
footer .company-info dl dd:last-child {
    margin-right: 0;
}
footer p {
    margin: 20px auto;
    color: #333;
    font-size: .8em;
    margin-top: 10px;
}


/* 인증기관 */

.Rel {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}
.Rel ul {
    display: flex;
    justify-content: space-around;
}
.Rel ul li {
    color: #fff;
    font-size: .8em;
    width: 70px;
    height: 50px;
}
.Rel ul li a {
    color: #fff;
    font-size: .8em;
    display: inline-block;
    width: 100%;
    height: 100%;
}
.Rel ul li:nth-of-type(1) a {
    background: url("../img/rel-logo/01-Rel_koreaheart_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.Rel ul li:nth-of-type(2) a {
    background: url("../img/rel-logo/02-Rel_goodmeighbors_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.Rel ul li:nth-of-type(3) a {
    background: url("../img/rel-logo/03-Rel_haccp_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.Rel ul li:nth-of-type(4) a {
    background: url("../img/rel-logo/04-Rel_kolas_logo.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.Rel ul li:nth-of-type(5) a {
    background: url("../img/rel-logo/05-Rel_fssc_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.Rel ul li:nth-of-type(6) a {
    background: url("../img/rel-logo/06-Rel_epd.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.Rel ul li:nth-of-type(7) a {
    background: url("../img/rel-logo/07-Rel_ccm_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.Rel ul li:nth-of-type(8) a {
    background: url("../img/rel-logo/08-Rel_gajok_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.Rel ul li:nth-of-type(9) a {
    background: url("../img/rel-logo/09-soybean_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
/*
                    ----- keyframes -----
*/


/*
                    ----- media -----
*/
/* 1024px 이상 */
@media (min-width: 1024px) {
    /*burger menu*/
    header .menu button {
        display: none;
    }
}

/* 1024px 이하 */
@media (max-width: 1024px) {
    header .menu {
        width: 80%;
    }
    header .menu .logo {
        height: 50px;
    }
    header .menu nav {
        width: 100%;
        height: 0;
        position: fixed;
        top: 50px;
        right: 0;
        background: rgba(255, 255, 255, 0.9);
        overflow: hidden;
        transition: height .1s cubic-bezier(0.14, 0.12, 0.38, 1.22);
    }
    header .menu nav > ul {
        width: 80%;
        margin: auto;
        text-align: left;
    }
    header .menu nav > ul > li {
        float: none;
    }
    header .menu nav > ul > li > a {
        font-weight: 700;
        padding: 0;
        line-height: 50px;
    }
    header .menu nav > ul > li > a:hover::before {
        transform: scaleX(0);
    }
    header .menu nav > ul > li > a {
        transition: all .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }
    header .menu nav > ul > li > a:hover {
        color: #d97234;
    }
    
    /*sub-menu*/
    
    header .menu nav .sub-menu {
        height: 0;
    }
    header .menu nav .sub-menu li {
        text-align: left;
    }
    header .menu nav ul li:nth-of-type(1) ul li:nth-of-type(5) {
        margin-bottom: 0px;
    }
    header .menu nav > ul > li:hover .sub-menu {
        height: auto;
        overflow: visible;
    }
    /* Event */

    /* 웹진 */

}
@media (max-width: 768px) {
    header .menu .logo {
        height: 30px;
    }
    header .menu nav {
        top: 30px;
    }
    /* main visual */
    .main-visual {
        transform: translateY(30px);
    }

    /* burger menu */
    header .menu button {
        width: 30px;
        height: 30px;
    }



}
@media (max-width: 480px) {
    
    main video {
        margin: 0 auto;
        width: 100vw;
    }
    .container .prod figure a img {
        height: 200px;
    }
    .container .prod .control,
    .container .prod figure a:nth-of-type(4),
    .container .prod figure a:nth-of-type(5),
    .container .prod .prod-title a:nth-of-type(4),
    .container .prod .prod-title a:nth-of-type(5)     {
        display: none;
    }
}
