/*
    작성자 : 정선희
*/
/* container */
.container {
    width: 100%;
    margin: 0 auto;
}
/* 메인 공통 */

.container h2 {
    text-align: center;
    font-size: 1.75em;
    margin: 100px 0 60px;
    font-weight: 400;
    color: #333;
    font-family: 'Noto Serif', 'Noto Serif KR', serif;
}
/* main-visual */
.main-visual {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
}
.main-visual video {
    width: 100%;
}
/*---------- main product ----------*/
.container .prod {
    width: 100%;
    margin: 100px auto;
}
.container .prod figure {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
    padding: 50px 0;
    opacity: 1;
    transition: opacity .7s ;
}
.container .prod figure.active {
    opacity: 0;
}
.container .prod .prod_vgm_bk,
.container .prod .prod-oth {}

.container .prod figure a {
    display: inline-block;
}
.container .prod figure a img {
    height: 250px;
    transition: transform .5s cubic-bezier(0.075, 0.82, 0.165, 1) both;
}
.container .prod figure a:hover img {
    -ms-transform: scale3d(1.15, 1.15, 1);
    transform: scale3d(1.15, 1.15, 1);
}
.container .prod figure a:hover {
    animation: prod-ani .4s cubic-bezier(0.77, 0.31, 0.49, 0.95) infinite alternate both;
}

.container .prod .control {
    width: 100%;
    margin: 50px auto;
    position: relative;
}
/* indicator */
.container .prod .control .indicator {
    width: 50%;
    position: relative;
    top: 0; left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.container .prod .control .indicator span {
    position: absolute;
}
.container .prod .control .indicator span:nth-of-type(1) {
    width: 100%;
    height: 2px;
    background: #07784d;
}
.container .prod .control .indicator span:nth-of-type(2) {
    width: 30px;
    height: 15px;
    background-image: radial-gradient(rgba(217, 114, 52, 0.9) 20%, rgba(255, 153, 102, 0.8), transparent);
    border-radius: 30% 30%;
    top: -7px; left: calc(50% - 15px - 0.1px);
    transition: .5s;
}
.container .prod .control:hover .indicator span:nth-of-type(2) {
    -ms-transform: translateX(100px);
    transform: translateX(100px);
}
.container .prod .prod-title {
    text-align: center;
}
.container .prod .prod-title button {
    margin: 20px 10px 0 0;
    transition: .5s;
}
.container .prod .prod-title button:last-child {
    margin-right: 0;
}
.container .prod .prod-title button:hover {
    font-weight: 700;
    text-decoration: underline;
    color: #063;
}
/*---------- main event ----------*/
.container .event {
    width: 80%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 102, 51, 9);
    background-image: url("../img/event-gift-card.png");
    background-position: 60% 20%;
    background-repeat: repeat-y;
    background-size: 20%;
    background-attachment: fixed;
    padding: 20px 0;
}
/* text */
.container .event .main-event-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container .event .main-event-txt span {
    letter-spacing: 1px;
    color: #fff;
}
.container .event .main-event-txt h3 {
    font-size: 3em;
    font-weight: 700;
    animation: main-event-font-animations 2s .5s infinite both alternate;
}
.container .event .main-event-txt p {
    text-align: center;
    background: rgba(255, 255, 255, .6);
    margin-top: .5em;
    color: rgba(0, 102, 51, 9);
}
.container .event .main-event-txt time {
    font-size: 1.15em;
    letter-spacing: 1px;
    color: rgba(0, 102, 51, 9);
}
/* event link */
.container .event .main-event-link {
    overflow: hidden;
}
.container .event .main-event-link a {
    font-size: 1.2em;
    color: #fff;
    transition: transform .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.container .event .main-event-link a::before {
    content: "";
    font-size: inherit;
    display: block;
    margin-top: 1em;
    width: 12px;
    height: 12px;
    background-color: rgb(208, 230, 165);
    background-image: linear-gradient(125deg, rgba(255, 221, 148, .8) 10%, rgba(208, 230, 165, 1) 65%, rgba(134, 227, 206, 1) );
    border-radius: 50%;
    box-sizing: border-box;
}
.container .event .main-event-link a::after {
    content: "";
    font-size: inherit;
    display: block;
    width: 2px;
    height: 60px;
    background-color: rgb(208, 230, 165);
    background-image: linear-gradient(125deg, rgba(134, 227, 206, 1) 10%, rgba(208, 230, 165, 1) 65%, rgba(255, 221, 148, .8));
    box-sizing: border-box;
}
.container .event .main-event-link a:hover{
    transform: translateY(20%);
}
/*----------main webzine----------*/
.container .webzine {
    width: 80%;
    margin: 0 auto;
}
/* 공통 */
.container .webzine article {}
.container .webzine article figure {
    width: 100%;
    overflow: hidden;
}
.container .webzine article figure img {
    width: 100%;
    -ms-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
    transition: all .3s ease-in-out;
}
.container .webzine article figure img:hover {
    -ms-transform: scaleX(1.125) scaleY(1.125);
    transform: scaleX(1.125) scaleY(1.125);
}
.container .webzine article div {
    box-shadow: 0 1px 10px 2px rgba(51, 51, 51, .2);
}
.container .webzine article div {
    position: relative;
}
.container .webzine article div::before {
    content: "";
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #d97234;
    border-radius: 50%;
    transition: 1s linear;
}
.container .webzine article div:hover::before {
    opacity: 0;
}
.container .webzine article div span {
    color: #063;
    font-size: .95em;
    font-weight: 100;
    letter-spacing: 1px;
}
.container .webzine article div h4 {
    color: #333;
    padding: 10px 0 25px;
}
.container .webzine article div h4 a {
    color: inherit;
    font-size: 1.5em;
    font-weight: 400;
    transition: .9s;
    animation: font-animations 2s .5s infinite both alternate;
}
.container .webzine article div h4 a:hover {
    animation: font-animations 2s .5s infinite both alternate;
}
.container .webzine article div > a{
    color: #063;
    font-size: 1.05em;
    padding: 5px 20px;
    border: 1px solid #063;
    transition: all .3s cubic-bezier(0.03, 0.24, 0, 0.78);
}
.container .webzine article div > a:hover {
    color: #063;
    letter-spacing: 2px;
    border: 1px solid #063;
}
/* 웹진 풀사이즈 영역 */
.container .webzine .webzine_main {
    width: 100%;
    background-image: linear-gradient(125deg, rgba(134, 227, 206, 1) 10%, rgba(208, 230, 165, 1) 65%, rgba(255, 221, 148, .8));
    opacity: .98;
    position: relative;
    overflow: hidden;
    margin-bottom: 5px;
}
.container .webzine .webzine_main figure {
    width: 100%;
}
.container .webzine .webzine_main figure:hover {}
.container .webzine .webzine_main figure img {}
.container .webzine .webzine_main figure img:hover {}
.container .webzine .webzine_main .wz_txt_main {
    width: 45%;
    padding: 0 20px 0 50px;
    position: absolute;
    top: 0;
    right: 0;
    background-image: linear-gradient(-50deg,  rgba(208, 230, 165, .95) 55%, rgba(255, 221, 148, .8));
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    -ms-transform: translateX(30%);
    transform: translateX(30%);
    transition: transform .6s cubic-bezier(0.03, 0.24, 0, 0.78);
    /*animation: webzine_main_ani .6s 1s infinite linear alternate;*/
}
.container .webzine .webzine_main .wz_txt_main::before {
    top: 50%;
    left: 0;
    -ms-transform: translateX(-100%) translateY(-50%);
    transform: translateX(-100%) translateY(-50%);
    animation: arrow-ani-main .35s .2s linear infinite alternate both;
}
.container .webzine .webzine_main:nth-of-type(2) .wz_txt_main {
    -ms-transform: translateX(60%);
    transform: translateX(60%);
}
.container .webzine .webzine_main:hover .wz_txt_main {
    -ms-transform: translateX(0);
    transform: translateX(0);
    transition: transform .4s cubic-bezier(0.03, 0.24, 0, 0.78);
}
.container .webzine .webzine_main .wz_txt_main span {}
.container .webzine .webzine_main .wz_txt_main h4 {}
.container .webzine .webzine_main .wz_txt_main h4 a {}
.container .webzine .webzine_main .wz_txt_main > a{}

/* 웹진 분할 영역 */
.container .webzine .webzine_content {
    width: calc(50% - 2.5px);
    position: relative;
    overflow: hidden;
}
.container .webzine::after {
    content: "";
    display: table;
    clear: both;
}
.container .webzine .wz_contents03 {
    float: left;
}
.container .webzine .wz-contents04 {
    float: right;
}
.container .webzine .webzine_content figure {}
.container .webzine .webzine_content figure img {}
.container .webzine .webzine_content .wz_txt {
    width: 100%;
    padding: 20px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(85%);
    transform: translateX(-50%) translateY(85%);
    background-image: linear-gradient(125deg, rgba(255, 221, 148, 1), rgba(208, 230, 165, 1) 55%);
    transition: transform .5s;
}
.container .webzine .webzine_content .wz_txt::before{
    top: 0;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-100%);
    transform: translateX(-50%) translateY(-100%);
    animation: arrow-ani .35s .2s linear infinite alternate both;
}
.container .webzine .webzine_content:hover .wz_txt{
    bottom: 0;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.container .webzine .webzine_content .wz_txt h4 a {}
.container .webzine .webzine_content .wz_txt > a{}

/*---------- main SNS ----------*/
.container .main_sns {
    width: 80%;
    margin: 0 auto;
}
.container .main_sns .gridrwrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .35em;
    align-content: center;
    justify-content: center;
}
.container .main_sns .gridrwrapper article {
    width: 100%;
    position: relative;
}
.container .main_sns .gridrwrapper article > a {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 20px;
    height: 20px;
    background-image: url("../img/logo/instagram.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.container .main_sns .gridrwrapper article:nth-of-type(1) > a {
    background-image: url("../img/logo/facebook-f.svg");
}
.container .main_sns .gridrwrapper article figure {}
.container .main_sns .gridrwrapper article figure a {
    font-size: 0;
}
.container .main_sns .gridrwrapper article a video {
    width: 100%;
}
/* cooperative company */
.Rel {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}
.Rel ul {
    display: flex;
    justify-content: space-around;
}
.Rel ul li {
    color: #fff;
    font-size: .8em;
    width: 70px;
    height: 50px;
}
.Rel ul li a {
    color: #fff;
    font-size: .8em;
    display: inline-block;
    width: 100%;
    height: 100%;
}
.Rel ul li:nth-of-type(1) a {
    background: url("../img/rel-logo/01-Rel_koreaheart_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.Rel ul li:nth-of-type(2) a {
    background: url("../img/rel-logo/02-Rel_goodmeighbors_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.Rel ul li:nth-of-type(3) a {
    background: url("../img/rel-logo/03-Rel_haccp_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.Rel ul li:nth-of-type(4) a {
    background: url("../img/rel-logo/04-Rel_kolas_logo.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.Rel ul li:nth-of-type(5) a {
    background: url("../img/rel-logo/05-Rel_fssc_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.Rel ul li:nth-of-type(6) a {
    background: url("../img/rel-logo/06-Rel_epd.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.Rel ul li:nth-of-type(7) a {
    background: url("../img/rel-logo/07-Rel_ccm_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.Rel ul li:nth-of-type(8) a {
    background: url("../img/rel-logo/08-Rel_gajok_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.Rel ul li:nth-of-type(9) a {
    background: url("../img/rel-logo/09-soybean_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.background {
    width: 100%;
    height: 200px;
    margin: 100px auto 0;
    background: url("../img/prod_background.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}
/*---------- keyframes ----------*/
@keyframes nav-font-animations {
    0%{
        color: rgba(217, 114, 52, 1);
    }
    100%{
        color: rgba(0, 102, 51, .9);
    }
}
@keyframes prod-ani {
    0% {transform: rotate(15deg);}
    50% {transform: rotate(-15deg);}
    100% {transform: rotate(0deg);}
}
@keyframes event-ani {
    0% {transform: translateY(5%);}
    50% {transform: translateY(10%);}
    100% {transform: translateY(5%);}
}
@keyframes main-event-font-animations {
    0%{
        color: #eeee00;
    }
    100%{
        color: rgba(217, 114, 52, 9);
    }
}
@keyframes font-animations {
    0%{
        color: rgba(0, 102, 51, 1);
    }
    100%{
        color: rgba(217, 114, 52, .95);
    }
}
@keyframes webzine_main_ani {
    0% {
        transform: translateX(25%);
    }
    100% {
        transform: translateX(30%);
    }
}
@keyframes arrow-ani-main {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(-150%);
    }
}
@keyframes arrow-ani {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(-180%);
    }
}