/*
    작성자 : 정선희
*/
/*
1024px부터 width 100%
768px부터 tab menu display none
*/
/*---------- media query ----------*/
/* 1024px 이상 */
@media (min-width: 1024px) {
    /* header */
    header .menu nav > ul:hover > li .sub-menu {
        height: auto;
        overflow: visible;
    }
    /*burger menu*/
    header .menu button {
        display: none;
    }
    header .menu nav.menuVisible {
        height: auto;
    }
}
/* 1024px 이하 */
@media (max-width: 1024px) {
    header .menu {
        
        /*
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        */
    }
    header .menu .logo {
        height: 50px;
    }
    header .menu nav {
        width: 100%;
        height: 0;
        position: fixed;
        top: 50px;
        right: 0;
        background: rgba(255, 255, 255, 0.9);
        overflow: hidden;
        -ms-transition: height .1s cubic-bezier(0.14, 0.12, 0.38, 1.22);
        transition: height .1s cubic-bezier(0.14, 0.12, 0.38, 1.22);
    }
    header .menu nav > ul {
        width: 80%;
        margin: auto;
        text-align: left;
    }
    header .menu nav > ul > li {
        float: none;
    }
    header .menu nav > ul > li > a {
        font-weight: 700;
        padding: 0;
        line-height: 50px;
    }
    header .menu nav > ul > li > a:hover::before {
        transform: scaleX(0);
    }
    header .menu nav > ul > li > a {
        transition: all .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    }
    header .menu nav > ul > li > a:hover {
        color: #d97234;
    }
    /* main */
    /* main product */
    .container .prod figure a {
        width: 25%;
    }
    .container .prod figure a img {
        max-height: 250px;
    }
    .container .prod figure a:nth-of-type(5) img {
        display: none;
    }
    /* main event */
    .container .event {
        width: 100%;
    }
    /* main webzine */
    .container .webzine {
        width: 100%;
    }
    /* main SNS */
    .container .main_sns {
        width: 100%;
    }

    /* cooperative company */
    .Rel {
        width: 100%;
    }
    /*sub-menu*/
    header .menu nav .sub-menu {
        height: 0;
    }
    header .menu nav .sub-menu li {
        text-align: left;
    }
    header .menu nav ul li:nth-of-type(1) ul li:nth-of-type(5) {
        margin-bottom: 0px;
    }
    header .menu nav ul li a.subMenuVisivble + ul {
        height: auto;
        overflow: visible;
    }
    /* sub join */
    #join_form fieldset label[for="agree"] {
        font-size: .85em;
        vertical-align: .25em;
    }
    /* subpage - subProd */
    .subProd {
        grid-template-columns: repeat(3, 1fr);
        gap: .25em;
    }
    .product-bgm {
        width: 95%;
        margin: 0 auto;
    }
    /* subpage - Cp-institution */
    .fair-trade .cp-introduce .co-txt {
        width: 80%;
    }
    .cp-laws {
        width: 100%;
    }
    .cp-laws ul {
        padding: 60px 30px 10px;
     }
    .cp-laws ul li {
        width: 100%;
        line-height: 30px;
    }
    .cp-laws ul li:nth-of-type(odd) {
        float: none;
    }
    .necessity-of-cp {
        width: 90%;
    }
    .seven-elemt {
        width: 90%;
    }
    .seven-elemt div dl {
        width:100%;
    }
    .seven-elemt div dl:nth-of-type(1) {
        float: none;
    }
    .seven-elemt div dl:nth-of-type(2) {
        float: none;
    }
    .cp-benefit .cp-benefit-container ul li {
        display: block;
        margin: 0 auto;
        margin-top: -35px;
    }
    .cp-benefit .cp-benefit-container ul li:last-child {
        margin: 0 auto;
        margin-top: -35px;
    }
    
    .cp-benefit .cp-benefit-container ul li:first-child {
        margin-top: 0;
    }
    /* subpage - cs */
    #cs_form {
        width: 700px;
    }    
    
}/* 1024px END */

@media (max-width: 768px) {
    header .menu .logo {
        height: 30px;
    }
    header .menu nav {
        top: 30px;
    }
    /* main visual */
    .main-visual {
        transform: translateY(30px);
    }
    /* burger menu */
    header .menu button {
        width: 30px;
        height: 30px;
    }
    /* main product */
    .container .prod {
        margin: 30px auto;
    }
    .container .prod .prod_Vegemil {
        height: 350px;
    }
    .container .prod figure a {
        width: 33%;
    }
    .container .prod figure a img {
        max-height: 200px;
    }
    .container .prod figure a:nth-of-type(4) img {
        display: none;
    }
    .container .prod figure a:nth-of-type(5) img {
        display: none;
    }
    .container .prod figure figcaption::before,
    .container .prod figure figcaption::after {
        display: none;
    }
    /* event */
    .container .event {
        width: 100%;
        margin: 0 auto;
        position: relative;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url();
        background-position: 50%;
        background-size: 30%;
        padding: 20px 0;
    }
    .container .event .main-event-txt span {
        font-size: .85em;
        color: #fff;
    }
    .container .event .main-event-txt h3 {
        font-size: 2em;
        font-weight: 700;
    }
    .container .event .main-event-txt p {
        color: rgba(0, 102, 51, .9);
        font-size: .85em;
    }
    .container .event .main-event-txt time {
        font-size: inherit;
    }
    .container .event .main-event-link {
        margin-top: 0;
        margin-bottom: 0;
        background-color: transparent;
        width: 100%;
        height: auto;
        min-width: 0;
        min-height: 0;
        border-radius: 0;
        position: static;
        color: #fff;
        text-align: center;
        padding-top: 10px;
    }
    .container .event .main-event-link a {
        display: inline-block;
        width: 100px;
        line-height: 0;
        position: static;
        font-size: .75em;
        color: inherit;
        border: 1px solid #fff;
        padding: 10px 10px;
    }
    .container .event .main-event-link a:hover{
        transform: translateY(0);
    }
    /* dispaly: none; */
    .container .event .main-event-link::after,
    .container .event .main-event-link a:hover::after,
    .container .event .main-event-link a::before,
    .container .event .main-event-link a::after {
        display: none;
    }

    /* webzine */
    .container .webzine article div {
        box-shadow: 0 0;
    }
    /* display: none; */
    .container .webzine article div::before,
    .container .webzine article div span,
    .container .webzine article div > a {
        display: none;
    }
    .container .webzine article div h4 {
        text-align: center;
        padding: 10px 0;
    }
    .container .webzine article div h4 a {
        font-size: 1em;
        font-weight: 400;
        color: #333;
    }
    /* 웹진 풀사이즈 영역 */
    .container .webzine .webzine_main {
        background-image: linear-gradient(transparent, transparent);
    }
    .container .webzine .webzine_main {
        position: static;
    }
    .container .webzine .webzine_main .wz_txt_main {
        position: static;
        padding: 0;
        width: 100%;
        display: block;
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
    .container .webzine .webzine_main:nth-of-type(2) .wz_txt_main {
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
    /* 웹진 분할 영역 */
    .container .webzine .webzine_content .wz_txt {
        position: static;
        padding: 0;
        -ms-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
    }
    .container .webzine .webzine_content:hover .wz_txt{
        -ms-transform: translateX(0) translateY(0);
        transform: translateX(0) translateY(0);
    }
    /* SNS */
    .container .main_sns {
        margin-bottom: 100px;
    }
    .container .main_sns .gridrwrapper {
        gap: .25em;
    }
    /* footer background */
    .background {
        display: none;
    }
    /* subpage tab */
    .local-nav ul {
        display: none;
    }
    /* subpage cp */
    .explain-cp .about-cp {
        width: 80%;
        height: auto;
        display: block;
    }
    .explain-cp .about-cp .box-cp span {
        display: none;
    }
    .explain-cp .about-cp .text-cp h4 {
        margin-top: 15px;
    }
    .cp-article .cp-article-link {
        margin: 30px auto 10px;
        text-align: left;
    }
    .cp-article .cp-article-link a {
        width: 100%;
        line-height: 25px;
    }
    .cp-article .cp-article-link a span {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 35% 15% 55% 5%;
        background: linear-gradient(-200deg,  rgba(208, 230, 165, .95), rgba(255, 221, 148, .8));
        -ms-transform: translateX(.005em) translateY(0) rotateZ(90deg);
        transform: translateX(.005em) translateY(0) rotateZ(90deg);
        opacity: 0;
        -ms-transition: all .3s ease-in;
        transition: all .3s ease-in;
    }
    .news-briefing {
        width: 100%;
    }
    .news-briefing ul {
        display: block;
    }
    .news-briefing ul li {
        width: 90%;
        margin: 0 auto 10px;
    }
    .news-briefing ul li::after {
        content: "";
        display: inline;
        border: 0px none #d97234;
        position: static;
    }
    /* subpage cp-institution */
    .necessity-of-cp ul {
        display: block;
    }
    .necessity-of-cp ul li {
        width: 80%;
        margin: 0 auto 5px;
    }
    .necessity-of-cp ul li:last-child {
        margin: 0 auto;
    }
    /* subpage - faq */
    .faq .faq-table {
        width: 90%;
    }
    /* subpage - cs */
    #cs_form {
        width: 450px;
    }    
/* 768px END */
}
@media (max-width: 480px) {
    /* 메인 공통 */
    .container h2 {
        margin: 60px 0 40px;
    }
    main video {
        margin: 0 auto;
        width: 100vw;
    }
    .container .prod .prod_Vegemil {
        height: 300px;
    }
    .container .subProd figure a img {
        height: 200px;
    }
    .container .subProd .control,
    .container .subProd figure a:nth-of-type(4),
    .container .subProd figure a:nth-of-type(5),
    .container .subProd .prod-title a:nth-of-type(4),
    .container .subProd .prod-title a:nth-of-type(5)     {
        display: none;
    }
    /* main prod */
    
    .container .prod figure a img {
        max-height: 150px;
        margin: 0;
    }

}/* 480px END */
