/*
서브페이지 탭 ~ 메뉴 제목
상 : 70px
하 : 65px
컨텐츠 사이 제목 간격
상 : 200px
하 : 180px
*/


/* 현재 메뉴 탭 */

.local-nav {
    width: 100%;
    background-image: linear-gradient(145deg,  rgba(41, 153, 173, 1) 20%, rgba(65, 233, 117, .8));
}
.local-nav ul {
    width: 80%;
    margin: 0 auto;
    font-size: 0;
}
.local-nav ul li {
    display: inline-block;
}
.local-nav ul li a {
    display: inline-block;
    font-size: 1.05rem;
    color: #fff;
    padding: 0 50px;
    line-height: 50px;
    font-weight: 400;
    transition: all 1s ease-out;
    letter-spacing: 1px;
}
.local-nav ul li a:hover {
    background: #fff;
    color: #063;
    /*font-weight: 700;*/
}

/* contents */

.sub-container {
    width: 100%;
}

/* heading */
.sub-container .sub-heading {
    text-align: center;
    padding: 70px 0 65px;
}

.sub-container .sub-heading h2 {
    font-size: 2.25em;
    font-weight: 700;
    color: #333;
}

.sub-container .sub-heading h2::after {
    content: "";
    display: block;
    width: 30px;
    height: 4px;
    background-color: #058e36;
    margin: 15px auto;
}
.sub-container .sub-heading span {
    color: #999;
    font-size: 1em;
    letter-spacing: 1px;
}