/*
서브페이지 탭 ~ 메뉴 제목
상 : 70px
하 : 65px
컨텐츠 사이 제목 간격
상 : 200px
하 : 180px
*/


/* 탭 메뉴 */

.local-nav {
    width: 100%;
    background-image: linear-gradient(125deg, rgba(134, 227, 206, 1) 10%, rgba(208, 230, 165, 1) 65%, rgba(255, 221, 148, .8));
}
.local-nav ul {
    width: 80%;
    margin: 0 auto;
    font-size: 0;
}
.local-nav ul li {
    display: inline-block;
    font-size: 1.05rem;
    line-height: 50px;
    margin-right: 50px;
}
.local-nav ul li i {
    vertical-align: text-bottom;
    color: #063;
}
.local-nav ul li a {
    transition: all .3s ease-in-out;
    letter-spacing: 1.15px;
    color: #063;
}
.local-nav ul li a:hover {
    color: #fff;
}

/* contents */

.sub-container {
    width: 100%;
}

/* gloabal menu heading */
.sub-container .sub-heading {
    text-align: center;
    padding: 70px 0 65px;
}

.sub-container .sub-heading h2 {
    font-size: 2.25em;
    font-weight: 700;
    color: #333;
}

.sub-container .sub-heading h2::after {
    content: "";
    display: block;
    width: 30px;
    height: 4px;
    background-color: #058e36;
    margin: 15px auto;
}
.sub-container .sub-heading span {
    color: #999;
    font-size: 1em;
    letter-spacing: 1px;
}

/* heading h3 ~ h6*/
.sub-container h3 {
    font-size: 1.8em;
    font-weight: 500;
    color: #333;
    text-align: center;
}
.sub-page h4 {}
.sub-page h5 {}
.sub-page h6 {}